#table2 {
    width: 100%;
    margin-top: 100px;
}

#heading1 {
    font-size: 40px;
    font-weight: bold;
    color: #85b0d7;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 3px;
}









#table3 {
    height: 500px;
    width: 70%;
    margin-bottom: 50px;
    box-shadow: 5px 5px 30px #373737;
    background-color: #00294f;
    border-radius: 50px;
}

#table3 td {
    border: 0px solid white;
}

#from {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    height: 60px;
    width: 150px;
    transition-duration: 0.5s;
    border: 1px solid white;
    color: #274472;
    font-size: 20px;
}

#date {
    background-color: white;
    height: 60px;
    width: 100%;
    transition-duration: 0.5s;
    display: inline-block;
    border: 1px solid white;
    color: #274472;
    font-size: 20px;
}

#to {
    background-color: white;
    height: 60px;
    width: 100%;
    transition-duration: 0.5s;
    display: inline-block;
    border: 1px solid white;
    color: #41729F;
    font-size: 20px;
}

.fa fa-search fa-shake{font-size: 30px;color: white;}

#search-container {
    border: 0px solid black;
    width: 80%;
    height: 80px;
}

#search-bus {
    background-color: #003362;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 60px;
    width: 50%;
    font-weight: lighter;
    color: white;
    font-size: 30px;
    border: 1px solid white;
    transition-duration: 0.5s;
}

#search-bus:hover {
    background-color: black;
    border: 1px solid black;
}

#message-container {
    background-color: #003362;
    border-radius: 30px;
    height: 150px;
    width: 60%;
}

#message-container td {
    text-align: center;
    border: 0px solid white;
}

#message {
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

#trainNumberLabel,
#trainNumber,
#totalSeatsLabel,
#totalSeats,
#availSeatsLabel,
#availSeats {
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

#book-ticket {
    border-radius: 5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition-duration: 0.5s;
    border: 1px solid white;
    background-color: #00294f;
    color: white;
    height: 50px;
    width: 200px;
}

#book-ticket:hover {
    background-color: black;
    border: 0px black;
}






#table4 {
    background-color: #41729F;
    margin-top: 20px;
    height: 700px;
    width: 100%;
}

#view-all-bus {
    background-color: white;
    color: #274472;
    margin-left: 10%;
    transition-duration: 0.5s;
    font-size: 20px;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid white;
}

#view-all-bus:hover {
    background-color: #274472;
    color: white;
}

#heading3 {
    color: white;
    font-size: 30px;
    margin-left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

#bus-table {
    width: 80%;
}

#bus-table td {
    border: 0px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#bus-company {
    background-color: #456e95;
    padding-top: 10px;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    width: 99%;
    transition-duration: 0.5s;
}

#bus-company:hover {
    color: #274472;
    background-color: #C3E0E5;
}

div.cards {
    background-color: white;
    box-shadow: 1px 1px 20px rgb(131, 131, 131);
    overflow: auto;
    width: 70%;
    margin-bottom: 50px;
    height: 250px;
    border-radius: 30px;
    white-space: nowrap;
}

.cards::-webkit-scrollbar {
    display: none;
}

div.cards div {
    display: inline-block;
    color: black;
    margin: 40px 20px 0 20px;
    height: 70%;
    width: 350px;
    border: none;
    border-radius: 20px;
}
